* {
  font-family: Montserrat, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navbar > img {
  width: 10%;
}

.navbar > div {
  width: 20%;
}
